[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
EnvironmentFile=/etc/environment
ExecStart=/root/.services/main.sh
RemainAfterExit=true
Restart=on-failure
RestartSec=5s

StandardOutput=truncate:/var/log/trigger.log
StandardError=truncate:/var/log/trigger.log

[Install]
WantedBy=multi-user.target