Include /etc/ssh/sshd_config.d/*.conf

ListenAddress 169.254.0.1
ListenAddress 10.0.6.62
Port 444
AllowTcpForwarding no

PubkeyAuthentication yes
PermitRootLogin no

ChallengeResponseAuthentication no

UsePAM yes

X11Forwarding yes
PrintMotd no
PrintLastLog no

AcceptEnv LANG LC_*

Subsystem       sftp    /usr/lib/openssh/sftp-server